body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
}

h1 {
  padding: 16px;
  text-transform: uppercase;

}

h2 {
  float: both;
}

.sub-titulos  {
  font-size: 30px;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

p {
    text-align: justify;
    margin: 20px 0;
}

main  {
  line-height: 1.5;
}

body  {
  line-height: 1.5;
}

.titulo-principal {
    font-size: 60px;
    text-align: center;
    background-color: #851944;
    color: #FFF;
    margin: 0;
    padding: 20px;
    border-bottom: 10px solid black;
}

.citacao-fiat  {
    background-color: #D9E5E3;
    margin: 20px 40px;
    width: 250px;
    border: 10px solid #C2CCCA;
    box-sizing: border-box;
    border-left-color: #9404FE;
    border-right-color: #3243CA;
    float: right;
  }

.citacao-petrobras {
  background-color: #D9E5E3;
  margin: 20px 40px;
  width: 250px;
  border: 10px solid #C2CCCA;
  box-sizing: border-box;
  border-left-color: #FEFF12;
  border-right-color: #AEFAE3;
  float: left;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
  }

.rodape {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.icones-redes-sociais a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -999999px;
}

.pag-externa {
  color: #000000;
}

main div  {
  width: 720px;
  margin: auto;
  padding: 30px 0;
}

aside h1 {
  font-size: 30px;
  margin-bottom: 0px;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.icones-redes-sociais {
  display: inline-block;
}

nav a {
    color: #000000;
}

ul {
    color: #000000;
}

ul li a {
      color: #39fafa;
}

.github {
  background-image: url(github.png);
}

.twitter {
  background-image: url(twitter.png);
}

.linkedin {
  background-image: url(linkedin.png);
}

aside, img {
  float: right;
  width: 15%;
  box-sizing: border-box;
}

/*aside  {
    clear: both;
}
*/
main {
  float: left;
  width: 85%;
}
